/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require scaffolds
*/

$break-small: 320px;
$break-large: 1200px;

body {
  background-color: #3a414b;
  color: #cccfce;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

footer ul {
  list-style-type: none;
}

a {
  color: #cccfce;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

header {
  margin-top: 30px;
}

#content {
  margin-top:5px;
}

#content input[type="text"] {
  height: 20px;
}

#content  input[type="image"]  {
  margin-top:10px;
}

footer {
  margin-top:5px;
  font-size: smaller;
}

footer a {
  margin: 5px;
}

.flash {
  margin: 5px;
}

#flash-alert {
  color: red;
}

#flash-notice {
  color: green;
}

#hand-down {
  margin-bottom: 5px;
}

#hand-click {
  margin-left: -60px;
}

#content input[type="text"] {
  @media screen and (max-width: $break-small) {
    width: 280px;
    height: 30px;
  }
  @media screen and (min-width: $break-large) {
  }
}

#tipp {
  color: grey;
  font-size: smaller;
}

